BraveSoftware
archlinux-tweak-tool   
easyeffects                    
inkscape    
mimeapps.list      
procps            
sticky           
ardour8            
EasyEffects-Presets          
JetBrains   
neofetch          
pulse           
autostart     
fast-syntax-highlighting.plugin.zsh 
kdeconnect   
nvim           
pure.omp.json    
systemd         
xarchiver
balena-etcher         
gconf                           
kde.org   
nwg-dock        
QtProject.conf    
Thunar           
xfce4  
gthumb                       
kitty       
nwg-dock-hyprland
radeon-profile  
tlpui          
xournalpp
Code          
gtk-2.0                     
Kvantum    
nwg-look      
rofi           
uew.omp.json     
xsettingsd
colors.tdesktop-theme 
gtk-3.0                 
light  
nwg-panel 
ryzen-controller 
user-dirs.dirs  
yay
dconf         
gtk-4.0    
lsp-plugins 
obs-studio    
session    
user-dirs.locale  
zsh-syntax-highlighting.sh
dolphinrc     
htop              
mako      
pavucontrol.ini  
spicetify      
viewnior
dracula.xml            
menus      
powerkit      
spotify      
vlc
cpupower_gui
transmission/stats.json
transmission/settings.json
transmission/torrents/f91f800760a3c51970e94238166f0fb3bc6c5db2.torrent
transmission/resume/f91f800760a3c51970e94238166f0fb3bc6c5db2.resume
transmission/bandwidth-groups.json
qBittorrent/rss/feeds.json
qBittorrent/rss/storage.lock
qBittorrent/watched_folders.json
qBittorrent/qBittorrent.conf
qBittorrent/lockfile
qBittorrent/categories.json
DisplayCAL/DisplayCAL-3DLUT-maker.ini
DisplayCAL/DisplayCAL.ini
